.hero {
    background-image: url("../assets/img/bg/main-bg.png");
    background-size: cover;
    position: relative;
    min-height: 100vh;
    @media (max-width: 500px) {
        min-height: 800px;
    }
}